body {
  font-family: "Bodoni Moda", serif;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
}

small {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Bodoni Moda", serif;
  color: black;
  display: block;
  font-size: 50px;
  text-align: center;
}

.description {
  text-align: center;
  padding: 0;
}

.details {
  text-align: left;
  margin: 0;
}

li {
  list-style: none;
  color: black;
  display: block;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.my-weather-app {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000,
    inset 5px 5px 15px 5px rgba(213, 199, 198, 0.04);
  padding: 15px 30px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/004/555/original/sun-rays-152304506-Shutterstock_Volodymyr-Goinyk.jpg?1611659433");
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.btn-primary:active {
  background-color: red;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.humidity {
  max-width: 10px;
}

.weather-temperature img {
  height: 80px;
  width: 80px;
}

.float-left {
  float: left !important;
  margin: 0;
}

.weather-icon {
  display: inline;
  height: 64px;
  max-width: 64px;
  margin-right: 10px;
  float: left;
}

.units {
  position: relative;
  top: -32px;
}

form {
  margin-bottom: 20px;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
